/mcf2/ex1/results
/mcf2/ex1/results/**

.idea/*
.idea
.gitignore~
bifasico/results
bifasico/2D/results/*
bifasico/2D/results/
bifasico/2D/results
bifasico/3D/results/*
bifasico/3D/results/
bifasico/3D/results
bifasico/results/
bifasico/results/**

/codigos/in-dev/temp/results/*


