/home/luis/masters/mcf2/ex1/results
/home/luis/masters/mcf2/ex1/results/*

/home/luis/masters/.idea/*
/home/luis/masters/.idea
/home/luis/masters/.gitignore~
/home/luis/masters/bifasico/results
/home/luis/masters/bifasico/results/*
/home/luis/masters/bifasico/result
/home/luis/masters/bifasico/result/
/home/luis/masters/bifasico/result/*

/codigos/in-dev/temp/results/*


